@import url(reset.css);
@import url(padrao.css);


.pagina-login{
    background-color: rgb(198, 166, 250);
}
.login {
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-login {
    background-color: rgb(61, 4, 94);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}

.form-login button{
    margin-top: 20px;
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.form-login button:hover{
    background-color: blueviolet;
    color: rgb(207, 174, 235);
}
.campo-input {
    width: 300px;
    height: 50px;
    position: relative;
    margin: 2rem 0;
}
.campo-input input{
    position: absolute;
    inset: 0;
    background-color: transparent;
    padding:  1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid rgb(158, 61, 61);
    border-radius: .5rem;
    color: rgb(0, 0, 0);

}
.campo-input label{
    position: relative;
    top: 30%;
    left: 1rem;
    transform: translateY(-30%);
    color: rgb(126, 39, 114);
    pointer-events: none;
    padding: 0 .3rem;
    background-color: rgb(61, 4, 94);
    transition: 200ms ease-in-out top,
                200ms ease-in-out font-size, 
                200ms ease-in-out font-color;

}
.campo-input input:focus + label,
.campo-input input:valid + label {
    top: -10px;
    font-size: .8rem;
    color: rgb(201, 76, 212);

}
.cadastro{
    background-color: rgb(150, 132, 248);
}

.form-cadastro{
    height: 90vh;
    width: 50vw;
}

.mesma-linha{
    display: flex;
    
}